<div class="container pt-5 my-5">
  <h1 class="display-1 text-center">Temarios</h1>

  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Elemento de Competencia 4.1">
      <ng-template ngbPanelContent>
        <button class="btn btn-success"
          (click)="verVideo('video-tutoria-1.mp4')">
          Ver video
        </button>
        <a href="https://docs.google.com/presentation/d/1gm_SiSncrAOB30rxmNh94WceVckKbnRM/edit?usp=sharing&ouid=114440962338237910564&rtpof=true&sd=true"
          class="btn btn-info ml-2"
          target="blank">
          Ver presentación
        </a>

      </ng-template>
    </ngb-panel>

    <ngb-panel title="Elemento de Competencia 4.2">
      <ng-template ngbPanelContent>
        <button class="btn btn-success"
          (click)="verVideo('video-tutoria-2.mp4')">
          Ver video
        </button>
        <a href="https://docs.google.com/presentation/d/1pNjiyFyEpnOs3XFjd8-0BcCnvtwWQ-7AJHPlJHYiC1M/edit?usp=sharing"
          class="btn btn-info ml-2"
          target="blank">
          Ver presentación
        </a>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Elemento de Competencia 4.3">
      <ng-template ngbPanelContent>
        <a href="https://docs.google.com/presentation/d/1dQ3nH3m798VV1MOuGQ_qMB4anRgzLkLD1thSF4Ldbl8/edit?usp=sharing"
          class="btn btn-info ml-2"
          target="blank">
          Ver presentación
        </a>
        <a href="https://www.superteachertools.us/millionaire/millionaire.php?gamefile=301243"
          class="btn btn-danger ml-2"
          target="blank">
          Jugar Quién quiere ser millonario
        </a>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Elemento de Competencia 4.4">
      <ng-template ngbPanelContent>
        <a href="https://docs.google.com/presentation/d/1SFPzAtYK3YMH7K7fkjuXA3d0mpUV1s-Sz9lWpintglU/edit?usp=sharing"
          class="btn btn-info ml-2"
          target="blank">
          Ver presentación
        </a>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
