<div class="container-fluid">
  <h1 class="text-center mt-5 titulo display-1"><b>Ingeniería de Negocios</b></h1>
  <div class="float-right">
    <h5><b>Presentado por:</b></h5>
    <ul>
      <li>Mauricio Fernández Fernández</li>
      <li>Astrid Carolina Cerquera Urrego</li>
      <li>David Felipe Molano Correcha</li>
    </ul>
  </div>


  <div class="center">
    <button class="btn btn-success float-left p-5"
      routerLink="/temario">
      <b>Temario</b>
    </button>

    <button class="btn btn-info float-right p-5"
      routerLink="/sara">
      <b>S.A.R.A</b>
    </button>
  </div>
</div>


