/* You can add global styles to this file, and also import other style files */
body{
  background-image: url("http://3.bp.blogspot.com/-1MOncLmFV1M/VPDUDxG_kzI/AAAAAAAAF3c/r2vLegZ7_XY/s1600/BUSINESS-2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
