<div class="container">
  <button class="btn btn-success"
    (click)="pausaFisica()">
    Pausa activa física
  </button>

  <button class="btn btn-info"
    (click)="pausaMental()">
    Pausa activa mental
  </button>

  <button class="btn btn-warning"
    (click)="juegoRapido()">
    Juegos rápidos
  </button>

  <br>
  <br>
  <br>
  <h2 class="text-center"><b>S.A.R.A</b></h2>
  <h5 class="text-center">Seguridad asistida, recreación asegurada</h5>

  <img src="/assets/sara.png"
    width="50%"
    height="auto"
    alt="mujer-siso">


</div>

